@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --color-black: #888;
    --color-shadow: rgb(194, 194, 194);
    --color-green: #28c76f;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.svg-text {
    font-size: 4em;
    margin-top: -2em;
    text-align: center;
    color: #233E8B;
    text-shadow: #97a8d6 2px 2px 1px;
    margin-bottom: 10px;
    position: relative;
    animation-name: form;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes form {
    from {
        right: -160%;
    }

    to {
        right: 0.5%;
    }
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.topic {
    position: relative;
    top: 10%;
    font-size: 200%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-control {
    background-color: white;
    border-radius: 8px 8px;
    width: 80%;
    height: 500px;
    box-shadow: 0 4px 8px var(--color-shadow);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 2em;
    border-top: 8px solid #478fbe;
    position: relative;
    animation-name: svg;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes svg {
    from {
        left: -160%;
    }

    to {
        left: 1%;
    }
}

.inputText {
    width: 90%;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(207, 207, 207);
    box-sizing: border-box;
    transition: .3s;
}

.inputText:focus {
    outline: none;
    padding: 15px;
}

.inputBlog {
    margin-top: 10px;
}

.major-grade {
    width: 95%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grade {
    margin-left: -4px;
}

.form-right {
    margin-top: 10px;
}

.tea {
    width: 100%;
}

.comment {
    margin-top: 10px;
}

.commentInput:focus {
    outline: none;
    padding: 10px;
}

.commentInput {
    margin-top: 10px;
    width: 100%;
    height: 10.5em;
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
    box-sizing: border-box;
}

.img-pan {
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.click {
    padding: 2px;
    border: 2px solid rgb(11, 121, 11);
}

.img-pan:hover {
    padding: 2px;
    border: 2px solid green;
}

.btn {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
}

.btn-save {
    background-color: var(--color-green);
    margin: auto;
    font-size: 20px;
    margin-top: 2em;
    width: 8em;
    display: block;
    padding: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.btn-save:hover {
    background-color: rgb(31, 150, 98);
    box-shadow: 0 2px 10px var(--color-shadow);
    letter-spacing: 2px;
}

.commentInput-teacher {
    width: 100%;
}


.show-item {
    width: 70%;
    height: 5em;
    background-color: #233E8B;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    align-items: center;
    margin-top: 2em;
}

.show-item h2 {
    font-size: 2em;
    letter-spacing: 2px;
    color: white;

}

.show-item h2.people {
    font-size: 3em;
    color: white;
}

.show-item+h3 {
    letter-spacing: 2px;
    color: rgb(88, 86, 86);
    text-align: center;
}

.show-item2 {
    width: 70%;
    height: 5em;
    background-color: #f3f1f1;
    box-shadow: 0 4px 8px var(--color-shadow);
    border-top: 8px solid #a73b25;
    border-radius: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    place-items: center;
    place-content: center;
    margin-bottom: 1em;
    margin-top: 2em;
    color: #637299;
}

.form-pan {
    width: 50%;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    place-items: center;
    place-content: center;
}

.img-pan2 {
    width: 50px;
}

@media screen and (max-width: 1200px) {
    .show-item {
        width: 70%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 1.3em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 2.5em;
        color: rgb(240, 221, 49);
    }
    .show-item2 {
        font-size: 9px;
    }
    .img-pan2 {
        width: 35px;
    }
}


@media screen and (max-width: 870px) {
    .svg-text {
        font-size: 3em;
        margin-top: -1em;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }

    .major-grade {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .form-right {
        margin-top: 0px;
    }

    .grade {
        margin-left: 0px;
    }

    .form-control {
        height: 900px;
        width: 90%;
    }

    .inputText {
        width: 100%;
    }

    .show-item {
        width: 90%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 1.3em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 2.5em;
        color: rgb(240, 221, 49);
    }
    .show-item2 {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .svg-text {
        font-size: 1.5em;
        margin-top: -1em;

    }

    .show-item {
        width: 100%;
        height: 3.5em;
    }

    .show-item h2 {
        font-size: 0.8em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 1.2em;
        color: rgb(240, 221, 49);
    }
    .img-pan {
        width: 80px;
        height: 80px;
    }
    .show-item2 {
        font-size: 5px;          
        width: 100%;
    }
    .img-pan2 {
        width: 20px;
    }
    .newcomment {
        font-size: 10px;
    }
}

@media screen and (max-width: 365px) {
    .svg-text {
        font-size: 1.5em;
        margin-top: -1em;

    }

    .show-item {
        width: 100%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 0.6em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 1em;
        color: rgb(240, 221, 49);
    }
}