@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --color-black: #888;
    --color-shadow: #888;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-control {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 300px;
    box-shadow: 0 2px 5px var(--color-shadow);
    padding: 20px;
    margin: 0 auto;
}

.inputText {
    width: 80%;
    border-radius: 10px;
    height: 50px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-black);
}

/* .form-left {
    background-color: red;
    width: 100%;
    height: 100vh;
}

.form-right {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
} */

/* css by F  */