@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --color-black: #888;
    --color-shadow: rgb(194, 194, 194);
    --color-green: #28c76f;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}
body {
    height: 100vh;
}
.container {
    width: 80vw;
    margin: 0 auto;
}

@keyframes svg {
    from {
        left: -160%;
    }

    to {
        left: 1%;
    }
}
.svg-text2 {
    font-size: 13px;
    fill: rgb(247, 247, 247);
}
/* .show-control {
    height: 100vh;
} */
.show-item {
    width: 50%;
    height: 5em;
    background-color: #233E8B;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    align-items: center;
    margin-top: -15%;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
    border-top: solid 6px rgb(245, 207, 41);
    border-radius: 8px ;
    
  }
  
  th, td {
    text-align: center !important;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
.show-item h2 {
    font-size: 2em;
    letter-spacing: 2px;
    color: white;

}

.show-item h2.people {
    font-size: 3em;
    color: white;
}

.show-item+h3 {
    letter-spacing: 2px;
    color: rgb(88, 86, 86);
    text-align: center;
}

.show-item2 {
    width: 70%;
    height: 5em;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px var(--color-shadow);
    border-top: 8px solid #a73b25;
    border-radius: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    place-items: center;
    place-content: center;
    margin-bottom: 1em;
    margin-top: 2em;
    color: #637299;
}

.form-pan {
    width: 50%;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    place-items: center;
    place-content: center;
}

.img-pan2 {
    width: 50px;
}
.form-control {
    width: 90%;
    margin: 0 auto;
   
}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .pager {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 2em;
  }
  ul li {
    display: inline;
    list-style: none;
}

.input-page {
    text-align: center !important;
      width: 35px;
      border-radius: 8px;
      border: 1px solid gray;
  }
  

.button:hover {
  background-color: #f1f1f1;
}

.btn-lg {
  width: 3em;
  border-radius: 6px;
  border: 0px;
  background-color: rgb(194, 63, 63);
  color: white;
  text-align: center;
  position: absolute;
  top: 2%;
  right: 2%;
}
footer {
    width: 100%;
    height: 10%;
    background-color: #233E8B;
    position:relative;
    bottom: 0;
    display: table;
}
.text-footer {
    color: white;
    font-size: 12px;
    display: table-cell;
text-align: center;
vertical-align: middle;
}
.next {
    color: #233E8B;
    text-align: center;
    display: block;
}


@media screen and (max-width: 1200px) {
    .show-item {
        width: 70%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 1.3em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 2.5em;
        color: rgb(240, 221, 49);
    }
    .show-item2 {
        font-size: 9px;
    }
    .img-pan2 {
        width: 35px;
    }

}
@media screen and (max-width: 870px) {
    .svg-text {
        font-size: 3em;
        margin-top: -1em;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }

    .major-grade {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .form-right {
        margin-top: 0px;
    }

    .grade {
        margin-left: 0px;
    }

    .form-control {
        height: 900px;
        width: 90%;
    }

    .inputText {
        width: 100%;
    }

    .show-item {
        width: 90%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 1.3em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 2.5em;
        color: rgb(240, 221, 49);
    }
    .show-item2 {
        width: 90%;
    }
    .svg-textsaka {
        font-size: 1em;
    }
}
@media screen and (max-width: 600px) {
    #searchBlog {
      display: block;
      margin: 0% auto;
    }
    .search-select {
      margin-top: 9em;
    }
    select {
      margin-top: 5px;
      padding: 3px;
      display: block;
      width: 100%;

    }
    th, td {
      font-size: 12px;
    }
    .btn-trash {
      padding: 2px 10px;
    }

    .show-item h2 {
        font-size: 0.8em;
        letter-spacing: 2px;
        color: white;

    }

    .form-control {
      width: 100%;
      margin-left: 0px;
      overflow-x: scroll;
  }
  }
@media screen and (max-width: 450px) {
    .svg-text {
        font-size: 1.5em;
        margin-top: -1em;

    }
    .form-control {
        margin-left: -2%;
    }

    .show-item {
        width: 100%;
        height: 3.5em;
    }

    .show-item h2 {
        font-size: 0.8em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 1.2em;
        color: rgb(240, 221, 49);
    }
    .img-pan {
        width: 80px;
        height: 80px;
    }
    .show-item2 {
        font-size: 5px;          
        width: 100%;
    }
    .img-pan2 {
        width: 20px;
    }
    .newcomment {
        font-size: 10px;
    }
    .svg-textsaka {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 365px) {
    .svg-text {
        font-size: 1.5em;
        margin-top: -1em;

    }

    .show-item {
        width: 100%;
        height: 4.5em;
    }

    .show-item h2 {
        font-size: 0.6em;
        letter-spacing: 2px;
        color: white;

    }

    .show-item h2.people {
        font-size: 1em;
        color: rgb(240, 221, 49);
    }
}